@model IEnumerable<CFProject.Models.UserTask>

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@{
    List<int> existingTasks = new List<int>();
}
@foreach (var project in Model)
{
    if (!existingTasks.Contains(project.TaskId))
    {
        existingTasks.Add(project.TaskId);


        <h3>Are you sure you want to delete this?</h3>
        <div class="d-flex">
            <div class="w-50 m-2">
                <hr />
                <h2>@project.Project.Title</h2>
                <h5>Description</h5>
                <p>@project.Project.Description</p>
            </div>
            <div class="w-50 m-2">
                <h4 class="text-center">
                    Remove a programmer
                </h4>
                @switch (TempData["RemoveConnection"])
                {
                    case "Success":
                        <div class="alert alert-success">
                            @TempData["Username"] has been removed
                        </div>
                        break;

                    case "NotFound":
                        <div class="alert alert-danger">
                            An error occured. Try again later
                        </div>
                        break;
                }
                @foreach (var programmer in Model)
                {
                    <div class="d-flex">
                        <div class="w-50">
                            <h5 class="text-center">@programmer.User.Name</h5>
                        </div>
                        <div class="w-50">
                            <form asp-action="RemoveFromTask" asp-controller="Admin">
                                <input type="hidden" name="UserId" value="@programmer.UserId" />
                                <input type="hidden" name="TaskId" value="@programmer.TaskId" />
                                <button class="btn btn-outline-danger" type="submit">Remove</button>
                            </form>

                        </div>


                    </div>

                }
            </div>
        </div>


        <form asp-action="Delete">
            <input type="hidden" name="UserId" />
            <input type="hidden" name="TaskId" />
            <button type="submit" value="Delete" class="btn btn-danger">Delete all connections</button> |
            <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
        </form>

    }
}
